@font-face {
  font-family: "Begum Medium";
  src: url("../webfonts/Begum-Medium.woff") format("woff"),
    url("../webfonts/Begum-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ekster Regular";
  src: url("../webfonts/Ekster-Regular.woff") format("woff"),
    url("../webfonts/Ekster-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ekster Bold";
  src: url("../webfonts/Ekster-Bold.woff") format("woff"),
    url("../webfonts/Ekster-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
